# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE / editor
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
desktop.ini
*.search-ms
*.searchconnector-ms

# Environment / secrets
.env
.env.*

