# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDE / editor
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Environment / secrets
.env
.env.*

# SQLite DB
appointments.db

